.form-section{
}

.form {
    background-color: #3AD886;
    height: 520px;
    width: 400px;
    border-radius: 5px;
}

.form-content {
    display: flex;
    flex-flow: column;
}

.form-img {
    margin-top: 10px;
    align-self: center;
}

.form-img>img {
    width: 200px;
}

.form-input-group {
    display: flex;
    flex-flow: column nowrap;
}

.form-inputs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 15px;
}

.btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.btn {
    margin-left: 20px;
    background-color: #ED6B5B;
    padding: 10px;
    border-radius: 5px;
}

.form-submit {
    margin-right: 20px;
}