html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.App {
  font-family: 'Open Sans', sans-serif;
}

.main-app-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}